<!-- Boilerplate for ejs mate -->
<%-layout('layouts/boilerplate')%>

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2>
    <div class="quote">
        <span>every experience in your life is being orchestrated to teach you something you need to know to move
            forward.</span>
    </div>

    <div class="timeline">


        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>The Complete Guide(incl Hooks, Router, Redux)</h2>
                </div>
                <div class="desc">
                    <h3>React - maximilian | E-school</h3>
                    <p>June 2022 - Present</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Start Up Ace</h2>
                </div>
                <div class="desc">
                    <h3>MERN Developer | Internship</h3>
                    <p>May 2023 - Present</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>The Web Developer Bootcamp 2022</h2>
                </div>
                <div class="desc">
                    <h3>Nodejs, Expressjs & MongoDB - Colt Steele| E-school</h3>
                    <p>April 2022 - June 2022</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Master the Coding Interview</h2>
                </div>
                <div class="desc">
                    <h3>Coding Bootcamp | E-school</h3>
                    <p>February 2022 - April 2022</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>React Native</h2>
                </div>
                <div class="desc">
                    <h3>React- Native | Clone</h3>
                    <p>January 2023 - April 2023</p>
                </div>
            </div>
        </div>
        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>React</h2>
                </div>
                <div class="desc">
                    <h3>YouTube-clone (10-Screen) | YouTube-clone</h3>
                    <p>May 2022 - July 2022</p>
                </div>
            </div>
        </div>



        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Diploma in HTML5, Css3 & JS</h2>
                </div>
                <div class="desc">
                    <h3>ANIL Bhalothia | E-school</h3>
                    <p>March 2020 - May 2020</p>
                </div>
            </div>
        </div>

    </div>

    <div class="morebtn" data-aos="fade-in" data-aos-duration="1000">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
    </div>

    </div>
</section>

<!-- scroll top btn -->
<a href="#experience" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->